<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs",{ title: 'AppJob' }) %>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <section class = "container1">
        <h3>&#x1F4BC; AppJob</h3>
        <div class="user-profile"><h3 class="fullname"></h3><a href="/profile" class="link-profile">My Profile</a></div>
    </section>
    <div class="title"><h2>Create a Job</h2></div>
    <section class="container2">
        <div class="form-job">
            <form action="/create-job" method="post">
                <label for="job-title">Job title </label>
                <input 
                    type="text" 
                    name="job-title" 
                    id="job-title"><br>
                <label for="Website">Website </label>
                <input 
                    type="text" 
                    name="Website" 
                    id="Website"> <br><br>
                <h4>Employer's contact</h4><br>
                <label for="employersname">Name</label>
                <input 
                    type="text" 
                    name="employersname" 
                    id="employersname"> <br>
                <label for="Emailofcontact">Email of contact </label>
                <input 
                    type="email" 
                    name="Emailofcontact" 
                    id="Emailofcontact"> <br>
                <label for="phone">Phone Number</label>
                <input 
                    type="number" 
                    name="phone" 
                    id="phone"> <br>
                <label for="addresscontact">Address</label>
                <input 
                    type="text" 
                    name="addresscontact" 
                    id="addresscontact"> <br>
                <label for="origin">Origin</label>
                <select name="origin" id="origin">
                    <option value="candidature">Candidature spontanee</option>
                    <option value="Offer">Job offer</option>
                </select><br>
                <label for="status">Status</label>
                <select name="status" id="status">
                    <option value="interested">Interested</option>
                    <option value="cv-sent">Cv-sent</option>
                    <option value="negative">Negative</option>
                    <option value="interview">Interview</option>
                </select><br>
                <label for="comments">Comments</label>
                    <textarea 
                        id="comments" 
                        name="comments" 
                        rows="4" 
                        cols="50"
                        placeholder="Enter your comments here..."></textarea>
                    <br><br>
                <button type="submit" value="save">Save</button> <br>
            </form>
        </div>
    </section>
    <script src="app.js"></script>
    <script>
        
    </script>
</body>
</html>
