<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs",{ title: 'AppJob' }) %>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <section class = "container1">
        <h3>&#x1F4BC; AppJob</h3>
    </section>
    <div class="title"><h2>Login</h2></div>
    <section class="container2">
        <form action="/login" method="post">
            <label for="member">Email: </label>
            <input 
            type="email" 
            name="email" 
            id="email"> <br>
            <label for="member">Password: </label>
            <input 
            type="password" 
            name="password" 
            id="password"> <br>
            <button type="submit" value="Login">Login</button> <br>
            <p>Not registered yet? <a href="sign-up">Register</a></p> 
        </form>
    </section>
    <!-- <script src="app.js"></script> -->
    <script>
        
    </script>
</body>
</html>
