<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs",{ title: 'AppJob' }) %>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <section class = "container1">
        <h3>&#x1F4BC; AppJob</h3>
    </section>
    <div class="title"><h2>Register</h2></div>
    <section class="container2">
        <form action="/sign-up" method="post">
            <label for="member">Firstname: </label>
            <input 
            type="Firstname" 
            name="Firstname" 
            id="Firstname"><br>
            <label for="member">Lastname: </label>
            <input 
            type="Lastname" 
            name="Lastname" 
            id="Lastname"> <br>
            <label for="member">Email: </label>
            <input 
            type="email" 
            name="email" 
            id="email"> <br>
            <label for="member">Github: </label>
            <input 
            type="Github" 
            name="Github" 
            id="Github"> <br>
            <label for="profilePicture">Profile picture:</label>
            <input 
            type="file" id="profilePicture" name="profilePicture" accept="image/*"><br>
            <label for="cv">CV (PDF):</label>
            <input 
            type="file" id="cv" name="cv" accept="application/pdf"><br>
            <label for="member">Password: </label>
            <input 
            type="password" 
            name="password" 
            id="password"> <br>
            <label for="member">Repeat password: </label>
            <input 
            type="repeat-password" 
            name="repeat-password" 
            id="repeat-password"> <br>
            <button type="submit" value="register">Register</button> <br>
            <p> Already registered? <a href="login">Login</a></p> 
        </form>
    </section>
    <script src="app.js"></script>
    <script>
        
    </script>
</body>
</html>
